<!DOCTYPE html>
<html>
<head>
	<title>FinalProject</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet/less" type="text/css" href="css/style.less">
	<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/less.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>



<body ng-app="myApp" ng-controller = "customersCtrl">
<div id="nav">
	<div id="nav1">
		<a href="http://localhost/Finalproject/"><h2 id="logo"><span>Book</span>Ing</h2></a>
		<h2 class="fa fa-bars lg" id="menu"></h2>
	</div>
	<div id="nav2">
			<br>
			<a href="https://www.instagram.com/erbolatmamen/">We are in Instagram</a>
	</div>
</div>
<div id="main">
	<aside id="aside">
		<input type="text" ng-model="myVar" placeholder="Search"><label class="fa fa-search"></label>
		<label id="country">Country : </label>
		<select ng-model="myVar">
			<option value="Kazakhstan">Kazakhstan</option>
			<option value="Russia" selected="selected">Russia</option>
			<option value="Arab Emirates">Arab Emirates</option>
			<option value="Turkey">Turkey</option>
		</select>
		<label id="cities" ng-show="myVar == 'Kazakhstan' || myVar == 'Russia' || myVar == 'Arab Emirates' || myVar == 'Turkey'">Cities: </label>
		<select ng-model="myVar1" ng-show="myVar == 'Kazakhstan'">
			<option value="Almaty">Almaty</option>
			<option value="Astana">Astana</option>
			<option value="Aktau">Aktau</option>
			<option value="Aktobe">Aktobe</option>
			<option value="Atyrau">Atyrau</option>
			<option value="Shymkent">Shymkent</option>
		</select>
		<select ng-model="myVar1"  ng-show="myVar == 'Russia'">
			<option value="Moscow">Moscow</option>
			<option value="Sochi">Sochi</option>
			<option value="Saint-Petersburg">Saint-Petersburg</option>
		</select>
		<select ng-model="myVar1"  ng-show="myVar == 'Arab Emirates'">
			<option value="Dubai">Dubai</option>
		</select>
		<select ng-model="myVar1" ng-show="myVar == 'Turkey'">
			<option value="Istanbul">Istanbul</option>
		</select>
		<form id="auth">
			<input class="auth" type="email" ng-model="login" placeholder="Login">
			<input class="auth" type="password" ng-model="password" placeholder="Password">
			<button type="submit" ng-click="sign()">Submit</button>
		</form>
		<div id="user">
			<p>{{username +" -  $" +usercash}}</p>
		</div>
	</aside>
	<div id="content" class="width100">
		<div ng-repeat="x in hotels|filter:myVar|filter:myVar1" ng-style="{'background-image':'url(img/{{x.src}})'}" class="hotels">
			<div class="info1">
			</div>
			<div class="info2">
				<h3>{{x.country+" - "+x.city}}</h3>
				<h3>{{x.name}}</h3>
			</div>
			<div class="info3"></div>
			<div class="info4">
				<label>{{x.luxprice | currency:"USD $"}}</label>
				<a href="#" ng-click="more()">More</a>
			</div>
		</div>
	</div>
	<div id="booking">
		<div id="head">
			<h2>Prime Plaza</h2>
		</div>
		<div>
			<label>Stars: </label>
			<img src="img/star.gif"><img src="img/star.gif"><img src="img/star.gif"><img src="img/star.gif"><img src="img/star.gif">
			<br><br>
			<label>Price: ${{price*choise}}</label>
			<br><br>
			<label>Rooms: {{rooms}}</label>
			<br><br>
			<label>Choose number of rooms: </label>
			<select ng-model="choise">
				<option value="1">1</option>
				<option value="2">2</option>
				<option velue="3">3</option>
			</select>
			<br><br><br>
			<a href="#" ng-click="booking()">Booking</a>
		</div>
	</div>
</div>
<div id="back" ng-click = "back()"></div>
</body>